:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0px;

  overflow: hidden;
  margin: 0 0;
}

.body {
  position: relative;
  /* background-image: url("src/assets/imgs/Mash75.png"), url("src/assets/imgs/Mash90.png") , url("src/assets/imgs/Mash87.png") ,  url("src/assets/imgs/Mash77.png")   ; */
  background-image: url("./images/BackgroundSizzle.svg");
  background-repeat: no-repeat;
  /* background-position: center, top left, bottom right, left */
  background-position: top right;
  background-size: 1000px;
  /* margin: 0 0 ; */
  /* min-width: 320px; */
  width: 100vw;
  height: 100vh;
  /* border: 10px solid black; */
  /* min-height: 100vh; */
  overflow: hidden;
}


